@page
@model AboutModel
@{
}

<main>
    <section class="about_me">
        <h1>Sobre mim</h1>
        <p>
            Estou em uma jornada de aprendizado contínuo, sempre buscando aprimorar minhas habilidades e conhecimentos para alcançar o meu melhor desempenho na área da tecnologia. Meu principal foco na área do desenvolvimento de software são nas tecnologias C#, .NET, SQL Server e ReactJS.
        </p>
    </section>
    <section class="contacts">
        <div>
            <div class="icon">
                <img src="~/imgs/smile.png" alt="smile" />
            </div>
            <div>
                <h2>Nome</h2>
                <p>Flávio Eduardo</p>
            </div>
        </div>
        <div>
            <div class="icon">
                <img src="~/imgs/email.png" alt="email" />
            </div>
            <div>
                <h2>Email</h2>
                <p>xflax00@gmail.com</p>
            </div>
        </div>
        <div>
            <div class="icon">
                <img src="~/imgs/instagram.png" alt="instagram" />
            </div>
            <div>
                <h2>Instagram</h2>
                <p>xflax00_</p>
            </div>
        </div>
        <div>
            <div class="icon">
                <img src="~/imgs/telefone.png" alt="telefone" />
            </div>
            <div>
                <h2>Contato</h2>
                <p>(86) 99435-3456</p>
            </div>
        </div>
    </section>
</main>