@page
@model IndexModel
@{
    ViewData["Title"] = "Sobre mim";
}

<main>
    <section class="my_title">
        <h1>Olá, me chamo Flávio Eduardo</h1>
        <h2>Sou um desenvolvedor .NET</h2>

        <div>
            <button>Download CV</button>
            <button>Entrar em contato</button>
        </div>
    </section>
    <section class="illustration">
        <img src="~/imgs/illustration.svg" alt="illustration" />
    </section>
</main>
